stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: ubuntu
    variables:
      project: '**/*.csproj'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'
    steps:
    - checkout: self
      path: KeyVault
      clean: "false"
    - task: UseDotNet@2
      displayName: Use .Net Core sdk 10.x
      inputs:
        packageType: sdk
        version: 10.x
    - task: DotNetCoreCLI@2
      displayName: Publish
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: '$(project)'
        arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/linux-x64 --runtime linux-x64 --self-contained true /p:PublishTrimmed=true'
      enabled: "false"
    - script: |
        dotnet publish $(project) --configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/win-x64 --runtime win-x64 --self-contained true /p:PublishTrimmed=true
        dotnet publish $(project) --configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)/linux-x64 --runtime linux-x64 --self-contained true /p:PublishTrimmed=true
      displayName: 'dotnet publish'
    - publish: $(build.artifactstagingdirectory)