stages:
- stage: Build
  jobs:
  - job: Build
    pool:
      name: ubuntu
    variables:
      project: '**/*.csproj'
      buildPlatform: 'Any CPU'
      buildConfiguration: 'Release'
    steps:
    - checkout: self
      path: KeyVault
      clean: false
    - task: UseDotNet@2
      displayName: Use .Net Core sdk 8.x
      inputs:
        packageType: sdk
        version: 8.x
    - task: DotNetCoreCLI@2
      displayName: Publish
      inputs:
        command: 'publish'
        publishWebProjects: false
        projects: '$(project)'
        arguments: '--configuration $(buildConfiguration) --output $(build.artifactstagingdirectory)'
    - publish: $(build.artifactstagingdirectory)