# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-win:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET SDK 10.x
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 10.x
      - name: dotnet publish
        run: |
          dotnet publish KeyVault.cs --output drops --runtime win-x64 --self-contained true -p:PublishSingleFile=true -p:AssemblyVersion=1.0.0.${{ github.run_number }} -p:Version=1.0.0.${{ github.run_number }}
          Compress-Archive -Path drops\\KeyVault.exe -DestinationPath keyvault_win_x64_1.0.${{ github.run_number }}.zip
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: keyvault_win_x64
          path: keyvault_win_x64_1.0.${{ github.run_number }}.zip

  build-linux:
    runs-on: ubuntu-latest
    # needs: build-win
    steps:
      - uses: actions/checkout@v5
      - name: Setup .NET SDK 10.x
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x
      - name: dotnet publish
        run: |
          dotnet publish KeyVault.cs --output drops/linux-x64 --runtime linux-x64 --self-contained true -p:PublishSingleFile=true -p:AssemblyVersion=1.0.0.${{ github.run_number }} -p:Version=1.0.0.${{ github.run_number }}
      - name: zip artifacts
        run: |
          zip -j keyvault_linux_x64_1.0.${{ github.run_number }}.zip  drops/linux-x64/KeyVault
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: keyvault_linux_x64
          path: keyvault_linux_x64_1.0.${{ github.run_number }}.zip
  create-release:
    needs: 
      - build-win
      - build-linux
    if: ${{ github.event_name != 'pull_request' }}
    runs-on: ubuntu-latest
    environment: prd
    steps:
      # - uses: actions/checkout@v4
      - uses: actions/download-artifact@v7
      - name: create a release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            keyvault_linux_x64/keyvault_linux_x64_1.0.${{ github.run_number }}.zip
            keyvault_win_x64/keyvault_win_x64_1.0.${{ github.run_number }}.zip
          tag_name: v1.0.${{ github.run_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.release_token }}
