# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build linux-x64
      run: |
        dotnet publish KeyVault.csproj --output drops/linux-x64 --runtime linux-x64 --self-contained true -p:PublishSingleFile=true
        dotnet publish KeyVault.csproj --output drops/win-x64 --runtime win-x64 --self-contained true -p:PublishSingleFile=true
        zip drops/keyvault_linux_x64_v1.0.${{ github.run_number }}.zip  drops/linux-x64/KeyVault
        zip drops/keyvault_win_x64_v1.0.${{ github.run_number }}.zip  drops/win-x64/KeyVault.exe
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: keyvault-linux-x64
        path: drops/keyvault_linux_x64_v1.0.${{ github.run_number }}.zip
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: keyvault-win-x64
        path: drops/keyvault_win_x64_v1.0.${{ github.run_number }}.zip
    - name: Create GitHub Release and Upload Assets
      uses: softprops/action-gh-release@v2
      with:
        files: |
          drops/keyvault_linux_x64_v1.0.${{ github.run_number }}.zip
          drops/keyvault_win_x64_v1.0.${{ github.run_number }}.zip
        tag_name: v1.0.${{ github.run_number }}
      env:
        GITHUB_TOKEN: ${{ secrets.release_token }}