name: release

on:
  workflow_run:
    workflows:
      - build
    branches:
      - main
    types: 
      - completed

jobs:
  on-success:
    if: ${{ github.event.workflow_run.conclusion == 'success' && github.event_name != 'pull_request' }}
    runs-on: linux-latest
    steps:
      # - uses: actions/checkout@v4
      - name: download artifact
        uses: actions/download-artifact@v4
      - name: release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            keyvault_linux_x64/keyvault_linux_x64_1.0.${{ github.run_number }}.zip
            keyvault_win_x64/keyvault_win_x64_1.0.${{ github.run_number }}.zip
          tag_name: v1.0.${{ github.run_number }}
        env:
          GITHUB_TOKEN: ${{ secrets.release_token }}
